# Managed by Ansible.
title: {{ homepage_title }}
headerStyle: {{ homepage_header_style }}
color: slate
theme: dark
statusStyle: dot
hideVersion: true
layout:
  Homelab:
    style: row
    columns: 3
  Services:
    style: row
    columns: 3
  Raspberry Pi:
    style: row
    columns: 3
  Media:
    style: row
    columns: 3
