[defaults]
inventory               = inventory.yml
host_key_checking       = True
retry_files_enabled     = False
result_format           = yaml
callbacks_enabled       = timer,profile_tasks
gathering               = smart
fact_caching            = jsonfile
fact_caching_connection = .ansible/facts
fact_caching_timeout    = 7200
interpreter_python      = auto_silent
roles_path              = roles

[privilege_escalation]
become                  = True
become_method           = sudo
become_ask_pass         = False

[ssh_connection]
pipelining              = True
ssh_args                = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30
